.git
.next
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

.env
.env.*
!.env.example

data/submissions
data/forms
data/fish
data/proof
data/staking
data/provider_allowlist.json

coverage
dist
out
.DS_Store
